/* General */
h3 {
	color: #5A98BF;
}
body {
	font-family: Tahoma;
	background-color: #AEDFED;
	color: #D8D8D8;
	padding-top: 0;
	margin-top: 0;
}

#container {
	background-color: #ffffff;
	margin-top: 5px;
	padding-top: 5px;
	border: 2px solid #b9ced3;
	border-radius: 3px;
}
div#header {
	display:block;
	height: 110px;
}
div#nav-bar {
	display: block;
	height: 40px;
}
h2#page-title {
	margin-top: 0px;
}

/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin: 1em 5px;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

/* CSS For Dropdown Menu Start */
#nav-bar ul {
	list-style: none;
	padding:0;
	margin-top: 5px;
	margin-bottom: 5px;
}
#nav-bar ul li {
	display: inline;
	float: left;
	width: inherit;
}
#nav-bar ul li a {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	border:1px solid #5E74B9;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-shadow:1px 1px 0px #528ecc;
	font-weight: bold;
	font-size: 16px;
	font-family: tahoma;
	text-decoration: none;
	display: block;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
/*	border: 1px solid #560E00; */
}
#nav-bar ul li a:hover {
	color: #013E5D;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
	display: block;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#nav-bar ul li a:active {
	position:relative;
	top:1px;
}
#nav-bar ul li.sublinks a {
	color: #013E5D;
	background: #f6f6f6;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
	display: block;
	text-align: center;
	margin-top: 2px;
}
#nav-bar ul li.sublinks a:hover {
	color: #013E5D;
	background: #FFEFC6;
	font-weight: bold;
	text-shadow: none;
	text-decoration: none;
	display: block;
	text-align: center;
}
#nav-bar ul li.sublinks {
	display: none;
}

/* Home Page */
#news {
	list-style-type: none;
	display: inline;
	position: relative;
	float: left;
	padding: 0 5px;
	width: 650px;
}
#news {
	margin: 5px 8px 5px 0;
}
#news li {
	clear: both;
	margin-bottom: 10px;
	min-height: 70px;
	padding: 5px 0;
	display: block;
	border-bottom: solid 1px #333333;
	width: 100%;
	min-height: 128px;
	max-height: 156px;
}
#news li:last-child {
	border-bottom: none;
}
#news .date {
	display: inline;
	float: left;
	font-size: 10.5pt;
	background-color: #7BBADB;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 5px;
	min-width: 100px;
	text-align: center;
	color: #ffffff;
}
#news img.thumb {
	clear: both;
	float: left;
	padding-left: 0;
	margin-right: 12px;
	margin-bottom: 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
#news div.title {
	color: #39434C;
	font-size: 18px;
	width: 70%;
	float:left;
	min-height: 26px;
	max-height: 44px;
	overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
}
#news div.content {
	width: 450px;
	max-height: 84px;
	height: auto;
	overflow: hidden;
	text-align: justify;
}
a#show-more {
	display:inline-block;
	font-size: 16px;
	margin-left: 510px;
	margin-bottom: 10px;
}
#about {
	padding: 10px;
}
#about p,
#about ol {
	text-align: justify;
}
#about ol li {
	margin-left:10px;
}

#main-container {
	display: block;
}

#left-container {
	margin-top: 12px;
	overflow: hidden;
	float: left;
}

#right-container {
	float: left;
	padding: 0 10px;
	margin-top: 12px;
	margin-bottom: 12px;
	width: 268px;
	max-width: 268px;
	min-height: 350px;
	background: #eef6f8; /* Old browsers */
	background: -moz-linear-gradient(left, #eef6f8 0%, #e9f4f8 50%, #e9f4f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eef6f8), color-stop(50%,#e9f4f8), color-stop(100%,#e9f4f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #eef6f8 0%,#e9f4f8 50%,#e9f4f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #eef6f8 0%,#e9f4f8 50%,#e9f4f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #eef6f8 0%,#e9f4f8 50%,#e9f4f6 100%); /* IE10+ */
	background: linear-gradient(to right, #eef6f8 0%,#e9f4f8 50%,#e9f4f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef6f8', endColorstr='#e9f4f6',GradientType=1 ); /* IE6-9 */
}

/* Login Page */
#login-form a#forgot-password {
	margin-left: 70px;
}
#login-form a#not-a-member {
	display: block;
	margin: 10px 0 10px 96px;
}

/* Custom Buttons */
.form-actions .red { 
	background-color: hsl(0, 69%, 27%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d82b2b", endColorstr="#741515"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#d82b2b), to(#741515)); 
	background-image: -moz-linear-gradient(top, #d82b2b, #741515); 
	background-image: -ms-linear-gradient(top, #d82b2b, #741515); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d82b2b), color-stop(100%, #741515)); 
	background-image: -webkit-linear-gradient(top, #d82b2b, #741515); 
	background-image: -o-linear-gradient(top, #d82b2b, #741515); 
	background-image: linear-gradient(#d82b2b, #741515); 
	border-color: #741515 #741515 hsl(0, 69%, 21%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39); 
	-webkit-font-smoothing: antialiased; 
}
.form-actions .green {
	background-color: hsl(86, 79%, 47%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcf6ba", endColorstr="#84d619"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#dcf6ba), to(#84d619)); 
	background-image: -moz-linear-gradient(top, #dcf6ba, #84d619); 
	background-image: -ms-linear-gradient(top, #dcf6ba, #84d619); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcf6ba), color-stop(100%, #84d619)); 
	background-image: -webkit-linear-gradient(top, #dcf6ba, #84d619); 
	background-image: -o-linear-gradient(top, #dcf6ba, #84d619); 
	background-image: linear-gradient(#dcf6ba, #84d619); 
	border-color: #84d619 #84d619 hsl(86, 79%, 37.5%); 
	color: #333 !important; 
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62); 
	-webkit-font-smoothing: antialiased; 
}

/*.content {
	width: 97%;
	max-width: 97%;
	min-width: 97%;
}*/


/* Index Pages */
div.index {
	display: block;
	position: relative;
}
#add-action {
	position: absolute;
	right: 12px;
	top: 4px;
	background-image: url(../img/icons/add.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 24px;
	font-size: 18px;
	padding-left: 30px;
	padding-top: 2px;
	vertical-align: center;
}
span.actions,
td.actions {
	margin-left: 6px;
}
span.actions a,
td.actions a  {
	margin: 0 6px;
}
#slide-list{
	list-style: none;
	margin: 0px;
}
#slide-list .slide {
	margin: 7.5px;
}

#secondary-actions{
	float:right;
}
#secondary-actions button {
	margin-right: 10px;
}

/* Footer */
#footer {
	background-color: #7BBADB;
	clear: both;
	height: 100px;
}
#footer img {
	height: inherit;
}
#footer #disclaimer {
	margin-left: 180px;
	margin-right: 180px;
}
#footer #disclaimer p{
	color: #ffffff;
	font-size: .8em;
	margin: 5px 10px;
	text-align: justify;
}

/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}
.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 2px;
	padding: 4px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

/* Static Pages: */
/* About */
div#about {
	margin: 0 2px;
}
div#about h2,
div#courses h2 {
	color: #333333;
	border-bottom: 2px solid #333333;
	margin-bottom: 16px;
	padding-bottom: 2px;
}
div#about p,
div#about ul,
div#about ul li,
div#about ol li,
div#about ol {
	font-size: 1.1em;
	line-height: 26px;
}
div#about p {
	text-indent: 30px;
}
div#about ul,
div#about ol {
	margin-left: 50px;
}
div#about li {
	margin-bottom: 10px;
}

/* Contact */
div#contact h2 {
	color: #333333;
	border-bottom: 2px solid #333333;
	padding-bottom: 2px;
	margin-left: 10px;
	margin-right: 10px;
}
div#contact div.contact{
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 20px;
    clear: both;
	margin: 20px 10px 30px 10px;	
	padding: 20px;
}
div#contact img.portrait {
	width: 120px;
	height: 140px;
	margin-top: 4px;
	float: left;
	border: 2px solid #E3E3E3;
}
div#contact table{
	width: 442px;
	height: 210px;
	margin: 0 0 0 146px;
}
div#contact th{
	text-align: left;
	min-width: 22%;
}
div#contact th, 
div#contact td {
	vertical-align: top;
	font-size: 1.2em;
	line-height: 120%;
}
div#contact table h3{
	margin: 0;
}

/* Courses */
div#courses h3{
	font-size: 17.5px;
	padding-left: 12px;
}
div#courses p {
	text-align: justify;
	width: 606px;
}
div#courses,
div#projects {
	padding: 0 10px;
}
div#entrepreneurship-lab p {
	text-align: justify;
	margin: 10px 0;
	font-size: 17px;
}

/* View Pages */
div.view h2#title {
	font-size: 2em;
	line-height: 1.2em;
	margin: 0 0 12px 6px;
}
div.view img.edit-icon {
	margin-right: 6px;
}
div.view span.actions {
	margin: 0 0 12px 0;
	font-size: 1.1em;
}
div.view span.actions a {
	margin: 0 12px 0 0;
	display: inline-block;
}
div.view img#news-image {
	float: left;
	margin: 0 12px 4px 6px;
}
div.view div#news-content {
	font-size: 15.5px;
	line-height: 20px;
	text-align: justify;
	margin-left: 6px;
	padding-right: 6px;
}
div.view span.date {
	display: inline-block;
	font-size: 10.5pt;
	background-color: #7BBADB;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 1px 5px;
	font-size: 1.2em;
	line-height: 1.3em;
	min-width: 100px;
	text-align: center;
	color: #ffffff;
	margin-right: 12px;
	margin-bottom: 6px;
}

/* Admin Panel */
div#admin-panel {
	height: 24px;
	display: block;
	margin: 0px;
}
div#admin-panel span#greeting {
	font-weight: bold;
	font-size: 17px;
	overflow: hidden;
	height: 24px;
}
div#admin-panel ul {
	display: inline;
	margin: 0px;
}
div#admin-panel ul li {
	display: inline-block;
	list-style-type: none;
	margin: 0 5px;
	line-height: 24px;
	font-size: 17px;
}
img.action-icon {
	margin: 0px 10px 0px 0px;
}