/* Navigation Bar */
#nav-bar ul {
	list-style: none;
	padding:0;
	margin-top: 5px;
	margin-bottom: 5px;
}
#nav-bar ul li {
	display: inline;
	float: left;
	width: inherit;
}
#nav-bar ul li a {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	border:1px solid #5E74B9;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	text-shadow:1px 1px 0px #528ecc;
	font-weight: bold;
	font-size: 16px;
	font-family: tahoma;
	text-decoration: none;
	display: block;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
/*	border: 1px solid #560E00; */
}
#nav-bar ul li a:hover {
	color: #013E5D;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
	display: block;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#nav-bar ul li a:active {
	position:relative;
	top:1px;
}
#nav-bar ul li.sublinks a {
	color: #013E5D;
	background: #f6f6f6;
	font-weight: bold;
	text-decoration: none;
	text-shadow: none;
	display: block;
	text-align: center;
	margin-top: 2px;
}
#nav-bar ul li.sublinks a:hover {
	color: #013E5D;
	background: #FFEFC6;
	font-weight: bold;
	text-shadow: none;
	text-decoration: none;
	display: block;
	text-align: center;
}
#nav-bar ul li.sublinks {
	display: none;
}