/* Navigation Bar */
#nav-bar ul {
	list-style: none;
	padding:0;
	margin-top: 5px;
	margin-bottom: 5px;
}
#nav-bar ul li {
	display: inline;
	float: left;
	width: inherit;
}
#nav-bar ul li a {
	color: #906e02;
	background: #ffff29; /* Old browsers */
	background: -moz-linear-gradient(top, #ffff29 0%, #ffd70d 6%, #ffcc00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff29), color-stop(6%,#ffd70d), color-stop(100%,#ffcc00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffff29 0%,#ffd70d 6%,#ffcc00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffff29 0%,#ffd70d 6%,#ffcc00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffff29 0%,#ffd70d 6%,#ffcc00 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffff29 0%,#ffd70d 6%,#ffcc00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff29', endColorstr='#ffcc00',GradientType=0 ); /* IE6-9 */	border: 1px solid #012340;
	font-weight: bold;
	font-size: 16px;
	font-family: tahoma;
	text-decoration: none;
	display: block;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #F6C401;
/*	border: 1px solid #560E00; */
}
#nav-bar ul li a:hover {
	color: #7c6000;
	background: #ffff29; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffff29 0%, #febf04 4%, #ffd65e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffff29), color-stop(4%,#febf04), color-stop(100%,#ffd65e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffff29 0%,#febf04 4%,#ffd65e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffff29 0%,#febf04 4%,#ffd65e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffff29 0%,#febf04 4%,#ffd65e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffff29 0%,#febf04 4%,#ffd65e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff29', endColorstr='#ffd65e',GradientType=0 ); /* IE6-9 */
	display: block;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#nav-bar ul li.sublinks a {
	color: #000000;
	background: #f6f6f6;
	border-bottom: 1px solid #cccccc;
	font-weight: normal;
	text-decoration: none;
	display: block;
	text-align: center;
	margin-top: 2px;
}
#nav-bar ul li.sublinks a:hover {
	color: #000000;
	background: #FFEFC6;
	font-weight: normal;
	text-decoration: none;
	display: block;
	text-align: center;
}
#nav-bar ul li.sublinks {
	display: none;
}